.wrap {
  width: 600px;
  height: 900px;
  background-color: thistle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: purple;
  border-bottom: 3px solid slateblue;
}

ul {
  color: midnightblue;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  font-size: 25px;
  font-weight: 600;
  border-bottom: 1px solid purple;
}

li {
  color: steelblue;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
}
